<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIPERR PC - Сборка игровых компьютеров</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="#" class="logo">VIPERR<span>PC</span></a>
            <nav>
                <ul>
                    <li><a href="#ready-builds">Готовые сборки</a></li>
                    <li><a href="donk.html">Выбор PRO-игроков</a></li>
                    <li><a href="https://www.dns-shop.ru/catalog/17a899cd16404e77/processory/?fromRsu=1">Конфигуратор</a></li>
                </ul>
            </nav>
        </div>
    </header>
 
<div class="container">
            <a href="index.html" class="back-link">← Вернуться на главную</a>
</div>
    <main class="build-details">
        <div class="container">
            <h1>Бюджетный игровой ПК</h1>
            <div class="cards-row">

            <div class="pc-build-card">
                <a href="build-details.html" class="build-card-link">
                    <div class="build-card-image">
                        <img src="/static/img/56.jpg" alt="Бюджетный игровой ПК">
                    </div>
                    <div class="build-card-content">
                        <h3 class="build-card-title">mATX DeepCool MATREXX 30</h3>
                        <div class="build-card-specs">
                            <span class="spec-highlight">Intel Core i3-12100F</span>
                            <span class="spec-highlight">GTX 1650</span>
                            <span class="spec-highlight">16GB RAM</span>
                        </div>
                        <div class="build-card-price">47 899 ₽</div>
                    </div>
                </a>
            </div>
            <div class="pc-build-card">
                <a href="build-details2.html" class="build-card-link">
                    <div class="build-card-image">
                        <img src="/static/img/88569183.jpg.webp" alt="Бюджетный игровой ПК">
                    </div>
                    <div class="build-card-content">
                        <h3 class="build-card-title">Aerocool Aero One Mini Frost</h3>
                        <div class="build-card-specs">
                            <span class="spec-highlight">AMD Ryzen 5 5600G</span>
                            <span class="spec-highlight">встроенная</span>
                            <span class="spec-highlight">16GB RAM</span>
                        </div>
                        <div class="build-card-price">44 799 ₽</div>
                    </div>
                </a>
            </div>
            <div class="pc-build-card">
                <a href="build-details4.html" class="build-card-link">
                    <div class="build-card-image">
                        <img src="/static/img/45727677.jpg.webp" alt="Бюджетный игровой ПК">
                    </div>
                    <div class="build-card-content">
                        <h3 class="build-card-title">ПК ARDOR GAMING NEO M152</h3>
                        <div class="build-card-specs">
                            <span class="spec-highlight">Intel Core i5-12400F</span>
                            <span class="spec-highlight">GTX 1650</span>
                            <span class="spec-highlight">8GB </span>
                        </div>
                        <div class="build-card-price">57 799 ₽</div>
                    </div>
                </a>
            </div>
            
            </div>
    </main>
    
    

    <!-- Футер (такой же, как на главной) -->
    <footer>
        <div class="footer-links">
            <a href="about.html">О нас</a>
            <a href="delivery.html">Доставка и оплата</a>
            <a href="warranty.html">Гарантия</a>
            <a href="contacts.html">Контакты</a>
        </div>
        
    
        <div class="copyright">
            © 2077 VIPERR PC. Все права защищены.
        </div>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>