<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIPERR PC - Сборка игровых компьютеров</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="#" class="logo">VIPERR<span>PC</span></a>
            <nav>
                <ul>
                    <li><a href="#ready-builds">Готовые сборки</a></li>
                    <li><a href="donk.html">Выбор PRO-игроков</a></li>
                    <li><a href="https://www.dns-shop.ru/catalog/17a899cd16404e77/processory/?fromRsu=1">Конфигуратор</a></li>
                </ul>
            </nav>
        </div>
    </header>
<body>
    <main class="build-details">
        <div class="container">
            <a href="topik.html" class="back-link">← Вернуться к каталогу</a>
            
            <div class="build-header">
                <h1>AQUAMARINE GeForce RTX 5070</h1>
                <div class="build-price">272 899 ₽</div>
            </div>
            
            <div class="build-content">
                <img src="/static/img/AQUA.jpg" height="400" width="900" alt="ПК Быстров RTX***8" class="build-image">
                
                <div class="build-specs">
                    <h2>Характеристики</h2>
                    <ul class="specs-list">
                        <li><strong>Процессор:</strong> AMD RYZEN 5 7500f </li>
                        <li><strong>Видеокарта:</strong> NVIDIA GeForce RTX 5070 (12 ГБ)</li>
                        <li><strong>Оперативная память:</strong> 16 ГБ DDR5</li>
                        <li><strong>Накопитель:</strong>  700W </li>
                        <li><strong>Материнская плата:</strong> плата: MSI PRO A620M-E</li>
                        <li><strong>Блок питания:</strong> 500W 80+ Bronze</li>
                        <li><strong>Корпус:</strong> InWin 309 Gaming Edition</li>
                        <li><strong>Гарантия:</strong>  месяцев</li>
                    </ul>
                    
                    
                </div>
            </div>
            
<div class="build-actions">
                        <button href="delivery.html" class="btn order-btn">Заказать сборку</button>
                    </div>
            
            </div>
        </div>
    </main>
</body>
</html>

<footer>
        <div class="footer-links">
            <a href="about.html">О нас</a>
            <a href="delivery.html">Доставка и оплата</a>
            <a href="warranty.html">Гарантия</a>
            <a href="delivery.html">Контакты</a>
        </div>
        <div class="copyright">
            © 2077 VIPERR PC. Все права защищены.
        </div>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>