<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIPERR PC - Сборка игровых компьютеров</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="#" class="logo">VIPERR<span>PC</span></a>
            <nav>
                <ul>
                    <li><a href="#ready-builds">Готовые сборки</a></li>
                    <li><a href="donk.html">Выбор PRO-игроков</a></li>
                    <li><a href="https://www.dns-shop.ru/catalog/17a899cd16404e77/processory/?fromRsu=1">Конфигуратор</a></li>
                </ul>
            </nav>
        </div>
    </header>
 
<body>
    <main class="build-details">
        <div class="container">
            <a href="budget.html" class="back-link">← Вернуться к каталогу</a>
            
            <div class="build-header">
                <h1>mATX DeepCool MATREXX 30</h1>
                <div class="build-price">47 899 ₽</div>
            </div>
            
            <div class="build-content">
                <img src="/static/img/56.jpg" alt="Бюджетный игровой ПК" class="build-image">
                
                <div class="build-specs">
                    <h2>Характеристики</h2>
                    <ul class="specs-list">
                        <li><strong>Процессор:</strong> Intel Core i3-12100F (4 ядра, 8 потоков)</li>
                        <li><strong>Видеокарта:</strong> NVIDIA GeForce GTX 1650 (4GB GDDR6)</li>
                        <li><strong>Оперативная память:</strong> 16GB DDR4 3200MHz (2x8GB)</li>
                        <li><strong>Накопитель:</strong> SSD 500GB (NVMe M.2)</li>
                        <li><strong>Материнская плата:</strong> ASUS PRIME H610M-K</li>
                        <li><strong>Блок питания:</strong> 500W 80+ Bronze</li>
                        <li><strong>Корпус:</strong> Deepcool MATREXX 30</li>
                        <li><strong>Гарантия:</strong> 12 месяцев</li>
                    </ul>
                    
                   <div class="build-actions">
                        <button href="delivery.html" class="btn order-btn">Заказать сборку</button>
                    </div>
                </div>
            </div>
            
            
            
    </div>
</div>
    </main>
</body>
</html>