<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIPERR PC - Сборка игровых компьютеров</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="#" class="logo">VIPERR<span>PC</span></a>
            <nav>
                <ul>
                    <li><a href="#ready-builds">Готовые сборки</a></li>
                    <li><a href="donk.html">Выбор PRO-игроков</a></li>
                    <li><a href="https://www.dns-shop.ru/catalog/17a899cd16404e77/processory/?fromRsu=1">Конфигуратор</a></li>
                </ul>
            </nav>
        </div>
    </header>
   
    <section class="hero">
        <div class="hero-content">
            <h1>Какой компьютер нужен именно вам?</h1>
            <a href="#ready-builds" class="btn">Подобрать сборку</a>
        </div>
    </section>
    <section class="news-section">
        
        <div class="news-slider">
            <div class="slider-arrow left">&#10094;</div>
            <div class="slider-container">
                <div class="slide">
                    <img src="/static/img/top1.jpg"  width=1024 height=550 alt="Новость 1">
                    <div class="slide-caption">"Выбор лучших" уже у нас на сайте</div>
                </div>
                <div class="slide">
                    <img src="/static/img/LK.jpg" width=1024 height=550 alt="Новость 2">
                    <div class="slide-caption">Скидки до 31.05</div>
                </div>
                <div class="slide">
                    <img src="/static/img/q.jpg" width=1024 height=550 alt="Новость 3">
                    <div class="slide-caption">Подберите пк под свои требования!</div>
                </div>
            </div>
            <div class="slider-arrow right">&#10095;</div>
            <div class="slider-nav">
                <div class="slider-dot active"></div>
                <div class="slider-dot"></div>
                <div class="slider-dot"></div>
            </div>
        </div>
    </section>

    <section class="container" id="ready-builds" >
        <h2 class="section-subtitle">Готовые сборки</h2>
        <div class="products-grid" id="ready-builds-container" >
            <div class="product-card">
                <img src="/static/img/asa.jpg" alt="Бюджетный уровень">
                <div class="product-info">
                    <h3 class="product-title">Бюджетный игровой ПК</h3>
                    <div class="product-price">от 45 000 ₽</div>
                    <a href="budget.html" class="btn" >Подробнее</a>
                </div>
            </div>
            
            <div class="product-card">
                <img src="/static/img/O.JPG" alt="Средний уровень">
                <div class="product-info">
                    <h3 class="product-title">Средний уровень</h3>
                    <div class="product-price">от 75 000 ₽</div>
                    <a href="mid.html" class="btn">Подробнее</a>
                </div>
            </div>
            <div class="product-card">
                <img src="/static/img/43.JPG" alt="Топовая сборка">
                <div class="product-info">
                    <h3 class="product-title">Топовый уровень</h3>
                    <div class="product-price">от 150 000 ₽</div>
                    <a href="topik.html" class="btn">Подробнее</a>
                </div>
            </div>
    </section>




    <section class="container" id="pro-builds" >
        <h2 class="section-subtitle">Выбор про-игроков и другое</h2>
        <div class="products-grid-center" id="ready-builds-container" >
            <div class="product-card">
                <img src="/static/img/dadad.jpg" alt="Бюджетный уровень">
                <div class="product-info">
                    <h3 class="product-title">Выбор PRO-игроков</h3>
                    <div class="product-price">от 1 000 ₽</div>
                    <a href="/templates/budget.html" class="btn">Подробнее</a>
                </div>
            </div>
            
            <div class="product-card">
                <img src="/static/img/log.jpg" alt="Средний уровень">
                <div class="product-info">
                    <h3 class="product-title">Акссесуары для вашего пк</h3>
                    <div class="product-price">от 1 000 ₽</div>
                    <a href="mid.html" class="btn">Подробнее</a>
                </div>
            </div>
    </section>

    
    
    <footer>
        <div class="footer-links">
            <a href="about.html">О нас</a>
            <a href="delivery.html">Доставка и оплата</a>
            <a href="warranty.html">Гарантия</a>
            <a href="delivery.html">Контакты</a>
        </div>
        <div class="copyright">
            © 2077 VIPERR PC. Все права защищены.
        </div>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>