<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIPERR PC - Сборка игровых компьютеров</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="#" class="logo">VIPERR<span>PC</span></a>
            <nav>
                <ul>
                    <li><a href="#ready-builds">Готовые сборки</a></li>
                    <li><a href="donk.html">Выбор PRO-игроков</a></li>
                    <li><a href="https://www.dns-shop.ru/catalog/17a899cd16404e77/processory/?fromRsu=1">Конфигуратор</a></li>
                </ul>
            </nav>
        </div>
    </header>
 
<div class="container">
            <a href="index.html" class="back-link">← Вернуться на главную</a>
</div>
    <main class="build-details">
        <div class="container">
            <h1>Средний игровой ПК</h1>
            <div class="cards-row">

            <div class="pc-build-card">
                <a href="build-details777.html" class="build-card-link">
                    <div class="build-card-image">
                        <img src="/static/img/14407385.jpg.jpg" alt="Бюджетный игровой ПК">
                    </div>
                    <div class="build-card-content">
                        <h3 class="build-card-title">ПК Быстров RTX***8</h3>
                        <div class="build-card-specs">
                            <span class="spec-highlight">Intel Core i5-12400F</span>
                            <span class="spec-highlight">MSI GeForce RTX 4060</span>
                            <span class="spec-highlight">8GB RAM</span>
                        </div>
                        <div class="build-card-price">72 899 ₽</div>
                    </div>
                </a>
            </div>
            <div class="pc-build-card">
                <a href="build-details22.html" class="build-card-link">
                    <div class="build-card-image">
                        <img src="/static/img/O.JPG" alt="Бюджетный игровой ПК">
                    </div>
                    <div class="build-card-content">
                        <h3 class="build-card-title">#дайбогзапуститься</h3>
                        <div class="build-card-specs">
                            <span class="spec-highlight">
                                Intel Core i5-12400F</span>
                            <span class="spec-highlight">встроенная</span>
                            <span class="spec-highlight">4GB RAM</span>
                        </div>
                        <div class="build-card-price">94 799 ₽</div>
                    </div>
                </a>
            </div>
            <div class="pc-build-card">
                <a href="https://auto.drom.ru/spb/mercedes-benz/c-class/281508878.html" class="build-card-link">
                    <div class="build-card-image">
                        <img src="/static/img/mers.jpg" alt="Бюджетный игровой ПК">
                    </div>
                    <div class="build-card-content">
                        <h3 class="build-card-title">MERCEDES C-CLASS</h3>
                        <div class="build-card-specs">
                            <span class="spec-highlight">бензин, 2.0 л</span>
                            <span class="spec-highlight">	163 л.с</span>
                            <span class="spec-highlight">	240 000 км</span>
                        </div>
                        <div class="build-card-price">57 999 ₽</div>
                    </div>
                </a>
            </div>
            
            </div>
    </main>
    
    

    <footer>
        <div class="footer-links">
            <a href="about.html">О нас</a>
            <a href="delivery.html">Доставка и оплата</a>
            <a href="warranty.html">Гарантия</a>
            <a href="delivery.html">Контакты</a>
        </div>
        <div class="copyright">
            © 2077 VIPERR PC. Все права защищены.
        </div>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>