<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIPERR PC - Сборка игровых компьютеров</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="#" class="logo">VIPERR<span>PC</span></a>
            <nav>
                <ul>
                    <li><a href="#ready-builds">Готовые сборки</a></li>
                    <li><a href="donk.html">Выбор PRO-игроков</a></li>
                    <li><a href="https://www.dns-shop.ru/catalog/17a899cd16404e77/processory/?fromRsu=1">Конфигуратор</a></li>
                </ul>
            </nav>
        </div>
    </header>
<div class="container">
            <a href="index.html" class="back-link">← Вернуться на главную</a>
</div>
    <main class="build-details">
        <div class="container">
            <h1>Топовый игровой ПК</h1>
            <div class="cards-row">

            <div class="pc-build-card">
                <a href="build-details666.html" class="build-card-link">
                    <div class="build-card-image">
                        <img src="/static/img/43.JPG" alt="Бюджетный игровой ПК">
                    </div>
                    <div class="build-card-content">
                        <h3 class="build-card-title">ПК GeForce RTX 4070</h3>
                        <div class="build-card-specs">
                            <span class="spec-highlight">Intel Core i9-11900f</span>
                            <span class="spec-highlight">GeForce RTX 4070</span>
                            <span class="spec-highlight">64GB DDR</span>
                        </div>
                        <div class="build-card-price">272 899 ₽</div>
                    </div>
                </a>
            </div>
            <div class="pc-build-card">
                <a href="build-details000.html" class="build-card-link">
                    <div class="build-card-image">
                        <img src="/static/img/AQUA.jpg" alt="Бюджетный игровой ПК">
                    </div>
                    <div class="build-card-content">
                        <h3 class="build-card-title">AQUAMARINE GeForce RTX 5070</h3>
                        <div class="build-card-specs">
                            <span class="spec-highlight">AMD RYZEN 5 7500f</span>
                            <span class="spec-highlight">GeForce RTX 5070</span>
                            <span class="spec-highlight">16GB DDR5</span>
                        </div>
                        <div class="build-card-price">172 899 ₽</div>
                    </div>
                </a>
            </div>
            <div class="pc-build-card">
                <a href="build-details9999.html" class="build-card-link">
                    <div class="build-card-image">
                        <img src="/static/img/vibr.jpg" alt="Бюджетный игровой ПК">
                    </div>
                    <div class="build-card-content">
                        <h3 class="build-card-title">VIBRANIUM RX 9070 XT 16GB</h3>
                        <div class="build-card-specs">
                            <span class="spec-highlight">Intel core i5-14400f</span>
                            <span class="spec-highlight">	32GB DDR4</span>
                            <span class="spec-highlight">	RX 9070 XT 16GB</span>
                        </div>
                        <div class="build-card-price">157 999 ₽</div>
                    </div>
                </a>
            </div>
            
            </div>
    </main>
    
    <footer>
        <div class="footer-links">
            <a href="about.html">О нас</a>
            <a href="delivery.html">Доставка и оплата</a>
            <a href="warranty.html">Гарантия</a>
            <a href="contacts.html">Контакты</a>
        </div>
        
    
        <div class="copyright">
            © 2077 VIPERR PC. Все права защищены.
        </div>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>